*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(#D8C7FF, #19006C);
    font-family: 'poppins';
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (min-width: 768px) {
    body{
        background-image: linear-gradient(#D8C7FF, #19006C);
        font-family: 'poppins';
        margin-top: 5vh;
    }
    
}